<div class="container">
  <h1>New Article</h1>

  <div class="row">
    <div class="col-sm-8">
      <%= render 'form' %>
    </div>
  </div>

  <div class="row m-t">
    <div class="col-sm-8">
      <ol class="breadcrumb">
        <li><%= link_to 'Back', articles_path %></li>
      </ol>
    </div>
  </div>
</div>
